<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color:white">Quản lý nhân viên </h1>
    <div class="navbar">
    <input class="form-control" type="text" name= "firstName" [(ngModel)]="firstName" (ngModelChange)="Search()"/></div>
    <div class="d-flex">
     <button (click)="clickAddEmployee()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Thêm nhân viên</button>
    </div>
  </div>
</nav>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Mã nhân viên</th>
      <th scope="col">Họ</th>
      <th scope="col">Tên</th>
      <th scope="col">Email </th>
      <th scope="col">Số điện thoại</th>
      <th scope="col">Lương</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of employeeData">
      <td>{{ row.id }}</td>
      <td>{{ row.firstName }}</td>
      <td>{{ row.lastName }}</td>
      <td>{{ row.email }}</td>
      <td>{{ row.mobile }}</td>
      <td>{{ row.salary }}</td>
      <td>
        <button (click)="onDetals(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Chi tiết</button>
        <button (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Sửa</button>
        <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3">Xóa</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Điền thông tin</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Họ</label>
            <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Tên</label>
            <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Số điện thoại</label>
            <input type="text" formControlName="mobile" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Lương</label>
            <input formControlName="salary" class="form-control" id="exampleInputPassword1">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Thêm</button>
        <button type="button"  *ngIf="showUpdate" (click)="updateEmployeeDetails()" class="btn btn-primary">Sửa</button>
      </div>
    </div>
  </div>
</div>
